<div class="builder">
    <div class="wrapper">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand" style="height:100%;padding-bottom:4px;">
                    <div class="brand-logo">
                        <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <div class="nav-wrapper">
                <ul class="nav navbar-nav">
                    <li style="padding-top:10px;padding-left:10px;">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2" style="padding-right: 20px;">Title</label>
                                <input type="text" class="form-control" id="exampleInputName2" ng-model="content.title" placeholder="Title goes here" />
                            </div>
                            <div class="form-group" style="padding-left:20px;padding-right:20px;">
                                <label for="exampleInputEmail2" style="padding-right: 20px;">Permalink</label>
                                <input type="text" class="form-control" id="exampleInputEmail2" ng-model="content.permalink" placeholder="url-goes-here">
                            </div>
                            <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END Top Navbar-->
        <!-- START aside-->
        <aside class="aside">
            <!-- START Sidebar (left)-->
            <nav class="sidebar">
                <!-- START user info-->
                <div class="item user-block">
                    <!-- User picture-->
                    <div class="user-block-picture">
                        <div class="user-block-status">
                            <img src="app/img/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                            <div class="circle circle-success circle-lg"></div>
                        </div>
                        <!-- Status when collapsed-->
                    </div>
                    <!-- Name and Role-->
                    <div class="user-block-info">
                        <span class="user-block-name item-text">Welcome User</span>
                        <span class="user-block-role">UX-Dev</span>
                    </div>
                </div>
                <!-- END user info-->
                <ul class="nav">
                    <li ng-repeat="section in currentSectionOptions track by $index" style="cursor:move !important;">
                        <a title="{{section.type}}" data-drag="true" ng-model="section" data-jqyoui-options="{revert: 'invalid', appendTo: '.builder', helper: 'clone'}" jqyoui-draggable="{index: {{$index}},animate:true, placeholder: 'keep'}" class="no-submenu" style="cursor:move !important;">
                            <em class="fa fa-cube"></em>
                            <span class="item-text">{{section.type}}</span>
                        </a>
                    </li>
                    <!-- END Menu-->
                </ul>
            </nav>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- End aside-->
        <!-- START Main section-->
        <section style="min-height: 995px;">
            <!-- START Page content-->
            <div class="content-wrapper site-templates-standard">
                <div ng-if="content.sections && content.sections.length > 0" data-drop="true" data-jqyoui-options="{accept: 'a'}" ng-model="content.sections" jqyoui-droppable="{multiple:true}" style="min-height: 150px;width:100%;" class="stage">
                    <div ng-repeat="section in content.sections track by $index" data-drag="true" class="template-section" data-jqyoui-options="{insertInline: true, revert: 'invalid', handle: '.my-handle'}" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="section-settings">
                            <span class="fa fa-trash pull-right" style="cursor:pointer;" ng-click="remove( section )"></span>
                            <span class="fa fa-gear pull-right" style="cursor:pointer;" ng-click="sectionSettings( section, section.options )"></span>
                            <span class="fa fa-arrows pull-right my-handle" style="cursor:pointer;"></span>
                        </div>
                        <ng-include src="'/templates/site/templates/standard/section/' + section.type + '/configure.html'" />
                    </div>
                </div>
                <div ng-if="!content.sections || content.sections.length == 0" data-drop="true" data-jqyoui-options="{accept: 'a'}" ng-model="content.sections" jqyoui-droppable="{multiple:true}" style="min-height: 150px;width:100%;border: 3px dashed blue;" class="stage">
                        <h2 style="width:100%;text-align:center;line-height:150px;margin:0;">Drag sections here to add</h2>
                </div>
            </div>
            <!-- END Page content-->
        </section>
        <!-- END Main section-->
    </div>
</div>