
    <div class="modal-header">
        <button type="button" class="close" ng-click="ok()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Section Settings</h4>
    </div>

    <div class="modal-body p-a-0 js-modalBody">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Background Color</label>
                <spectrum-colorpicker ng-model="thing.settings.section_background_color" options="{showInput: true, showAlpha: true}"></spectrum-colorpicker>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Background Image (appears in front of color)</label>
                <br />
                <button herc-upload ng-model="thing.settings.section_background_image">Choose</button>
                <br />
                <img ng-if="thing.settings.section_background_image" src="{{thing.settings.section_background_image}}" style="max-width: 300px;" />
            </div>
            <div class="form-group" ng-repeat="setting in settings.settings track by $index">
                <label>{{setting.label}}</label>
                <div class="builder" ng-if="setting.type == 'switch'">
                    <label class="switch">
                        <input ng-model="$parent.thing.settings[ setting.key ]" type="checkbox">
                        <span>

                        </span>
                    </label>
                </div>
                <spectrum-colorpicker ng-if="setting.type == 'color'" ng-model="$parent.thing.settings[ setting.key ]" options="{showInput: true, showAlpha: true}"></spectrum-colorpicker>
                <br ng-if="setting.type == 'image'" />
                <button ng-if="setting.type == 'image'" herc-upload ng-model="$parent.thing.settings[ setting.key ]">Choose</button>
                <br ng-if="setting.type == 'image'" />
                <img ng-if="setting.type == 'image' && $parent.thing.settings[ setting.key ]" src="{{$parent.thing.settings[ setting.key ]}}" style="max-width: 300px;" />
                <input type="text" class="form-control" placeholder="Text" ng-model="$parent.thing.settings[ setting.key ]" ng-if="setting.type == 'text'" />
                <input type="number" class="form-control" placeholder="number" ng-model="$parent.thing.settings[ setting.key ]" ng-if="setting.type == 'number'" />
                <textarea class="form-control" rows="3" ng-model="$parent.thing.settings[ setting.key ]" ng-if="setting.type == 'textarea'"></textarea>
                <select class="form-control" rows="3" ng-model="$parent.thing.settings[ setting.key ]" ng-if="setting.type == 'select'">
                    <option ng-repeat="option in setting.options" value="{{option.value}}">{{option.label}}</option>
                </select>
            </div>
            <button type="button" ng-click="ok()" class="btn btn-default">Save</button>
        </form>
    </div>
