<div class="portfolio-menu" ng-controller="SiteTemplatesPortfolio1SectionMenuController">
	<!--start header-->
  <header class="header" style="background-color: {{section.settings.section_background_color}}; background-image: url('{{section.settings.section_background_image}}');">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <div class="logo pull-left">
                    <a href="#" title="{{section.settings.logo_text}}"
                       config-settings settings-function="settings(logoSettings)"
                       ng-model="section.settings"
                       no-delete>
                      <img herc-upload ng-model="section.settings.logo_image" ng-if="section.settings.logo_type == 'image'" src="{{section.settings.logo_image}}" alt="{{section.settings.logo_text}}" style="max-height: 50px;">
                      <span ng-hide="section.settings.logo_type == 'image'"
                            editable-text="section.settings.logo_text"
                            buttons="no" blur="submit">
                            {{section.settings.logo_text}}
                      </span>
                    </a>
                  </div>
                  <nav class="main-menu pull-right">
                    <ul class="menu-list">
                      <li class="menu-item-has-children" ng-repeat="menu_item in section.settings.menu_items">
                        <a href="{{menu_item.destination}}"
                           target="{{menu_item['new-tab'] ? '_blank' : ''}}"
                           config-settings
                           ng-model="menu_item"
                           settings-function="settings(menuItemSettings)",
                           delete-function="removeMenuItem(section.settings)"
                           editable-text="menu_item.text"
                           blur="submit" buttons="no">
                           {{menu_item.text}}
                         </a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children" ng-repeat="sub_menu_item in menu_item.menu_items">
                            <a href="{{sub_menu_item.destination}}"
                               target="{{sub_menu_item['new-tab'] ? '_blank' : ''}}"
                               config-settings
                               ng-model="sub_menu_item"
                               settings-function="settings(menuItemSettings)",
                               delete-function="removeMenuItem(menu_item)"
                               editable-text="sub_menu_item.text"
                               blur="submit" buttons="no">
                               {{sub_menu_item.text}}
                             </a>
                            <ul class="sub-menu">
                              <li ng-repeat="sub_sub_menu_item in sub_menu_item.menu_items">
                                <a href="{{sub_sub_menu_item.destination}}"
                                   target="{{sub_sub_menu_item['new-tab'] ? '_blank' : ''}}"
                                   config-settings
                                   ng-model="sub_sub_menu_item"
                                   settings-function="settings(menuItemSettings)",
                                   delete-function="removeMenuItem(sub_menu_item)"
                                   editable-text="sub_sub_menu_item.text"
                                   blur="submit" buttons="no">
                                   {{sub_sub_menu_item.text}}
                                 </a>
                              </li>
                              <li>
                                <a href="#" ng-click="addMenuItem(sub_menu_item)">+ Add Menu Item</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" ng-click="addMenuItem(menu_item)">+ Add Menu Item</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#" ng-click="addMenuItem(section.settings)">+ Add Menu Item</a>
                      </li>
                    </ul>
                  </nav>
                  <div class="menu-mobile"></div>

              </div>
          </div>
      </div>
  </header>
  <!--end header-->
</div>
