<div class="builder">
    <div class="wrapper">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
          <!-- START navbar header-->
          <div class="navbar-header">
            <a href="/" class="navbar-brand" style="height:100%;padding-bottom:4px;">
              <div class="brand-logo">
                <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
              </div>
              <div class="brand-logo-collapsed">
                <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
              </div>
            </a>
          </div>
          <!-- END navbar header-->
          <div class="nav-wrapper">
            <div class="pull-right" style="padding-top: 10px;">
              <span class="fa fa-gear fa-2x pointer" ng-click="settingsModal()" style="cursor:pointer;"></span>
              <a href="#" ng-click="logout()" style="margin-left: 15px; font-weight: 700; line-height: 28px; vertical-align: middle; margin-top: -10px; display: inline-block;">Log out</a>
            </div>
          </div>
        </nav>
        <!-- END Top Navbar-->
        <!-- START aside-->
        <aside class="aside">
            <!-- START Sidebar (left)-->
            <nav class="sidebar">
                <ul class="nav">

                </ul>
            </nav>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- End aside-->
        <!-- START Main section-->
        <section style="min-height: 995px;">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-3">
                <div class="panel widget">
                   <div class="panel-body">
                      <div class="text-right text-muted">
                         <em class="fa fa-file-text-o fa-2x"></em>
                      </div>
                      <h3 class="mt0">{{pages.length}}</h3>
                      <p class="text-muted">Total Pages</p>
                      <div class="progress progress-striped progress-xs">
                         <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-warning progress-100">
                            <span class="sr-only">100%</span>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                  <div class="panel">
                     <div class="panel-heading">
                        <div class="panel-title">
                          Pages
                        </div>
                        <small class="text-muted">10 new pages created within last month</small>
                     </div>
                     <!-- START table-responsive-->
                     <div class="table-responsive bg-white">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>
                                    <strong class="text-gray-darker">
                                       Title
                                    </strong>
                                 </th>
                                 <th>
                                    <strong class="text-gray-darker">
                                       Permalink
                                    </strong>
                                 </th>
                                 <th>
                                    <strong class="text-gray-darker">
                                      Date
                                    </strong>
                                 </th>
                                 <th>
                                    <strong class="text-gray-darker">
                                      Actions
                                    </strong>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="page in pages">
                                <td>
                                  {{page.title}}
                                </td>
                                <td>
                                  /{{page.permalink}}
                                  <strong ng-if="page.permalink == 'home'">(Home page)</strong>
                                  <a href="#" ng-hide="page.permalink == 'home'" ng-click="setAsHome(page)">Set as home page</a>
                                </td>
                                <td>
                                  {{moment(page.created_at).format('MM/DD/YYYY')}}
                                </td>
                                <td>
                                  <a target="_blank" href="/{{page.permalink}}" title="View" style="text-decoration: none; margin-right: 3px;">
                                    <span class="fa fa-eye"></span>
                                  </a>
                                  <a href="/builder/{{page.id}}" title="Edit" style="text-decoration: none; margin-right: 3px;">
                                    <span class="fa fa-pencil"></span>
                                  </a>
                                  <a href="/builder/{{page.id}}/clone" title="Clone" style="text-decoration: none; margin-right: 3px;">
                                    <span class="fa fa-files-o"></span>
                                  </a>
                                  <a href="#" ng-click="deletePage(page)" title="Delete" style="text-decoration: none; margin-right: 3px;">
                                    <span class="fa fa-trash"></span>
                                  </a>
                                </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- END table-responsive-->
                  </div>
               </div>
               <div class="col-md-4">
                   <div class="panel">
                      <div class="panel-heading">
                         <div class="panel-title">
                           Create New Page
                         </div>
                         <small class="text-muted">Click a template to start a new page</small>
                      </div>
                    <div class="row" style="padding:10px;">
                      <div class="col-md-12" ng-repeat="template in templates">
                        <div class="panel widget">
                         <div class="row row-table row-flush">
                            <div class="col-xs-5">
                               <picture class="lateral-picture">
                                  <img src="{{template.thumbnail}}" alt="">
                               </picture>
                            </div>
                            <div class="col-xs-7 align-middle p-lg">
                               <div class="pull-right">
                                 <a href="javascript:void(0);" ng-click="newPage(template.slug)" class="btn btn-primary btn-sm">+ Create New Page</a>
                                 <a href="{{template['demo-link']}}" target="_blank" class="btn btn-warning btn-sm">View Demo</a>
                               </div>
                               <p style="opacity:1; color: white;">
                                 <span class="text-lg">16</span>Aug</p>
                               <p>
                                  <strong>{{template.name}}</strong>
                               </p>
                               <p>
                                 {{template.description}}
                               </p>
                            </div>
                          </div>
                        </div>
                     </div>
                    </div>
                  </div>
               </div>
            </div>
          </div>
        </section>
        <!-- END Main section-->
    </div>
</div>
