<div ng-controller="SiteTemplatesStandardSectionPricingController" class="block app-price-plans" style="background-color: {{section.settings.section_background_color}};">
    <div class="container text-center">

        <div class="row m-b-lg">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <h6 class="text-muted text-uppercase" buttons="no" blur="submit" editable-text="section.settings.tagline">{{section.settings.tagline}}</h6>
                <h3  class="m-t-0" buttons="no" blur="submit" editable-text="section.settings.headline">{{section.settings.headline}}</h3>
            </div>
        </div>

        <div class="row" ng-repeat="chunk in chunks">
            <div class="{{chunk.length == 1 ? 'col-sm-offset-1 ':''}}col-sm-4 p-x m-b-lg" ng-repeat="price in chunk" config-settings ng-model="price" settings="{position:'top'}" delete-call="removePrice( price )">
                <div class="p-x">
                    <h6 class="text-muted text-uppercase m-b" style="margin-bottom: 0 !important;" buttons="no" blur="submit" editable-text="price.name">{{price.name}}</h6>
                    <span style="font-size: 5em;"><sup style="font-size: .3em;top: -1.6em;margin-right: 5px;" buttons="no" blur="submit" editable-text="price.currency_symbol">{{price.currency_symbol}}</sup><span buttons="no" blur="submit" editable-text="price.price">{{price.price}}</span></span><span style="font-weight: bold;" buttons="no" blur="submit" editable-text="price.subtext">{{price.subtext}}</span>
                    <p buttons="no" blur="submit" editable-text="price.description">{{price.description}}</p>
                </div>

                <ul class="list-unstyled list-bordered text-left m-y-md list-items">
                    <li class="p-y" ng-repeat="feature in price.features" config-settings settings="{'no-show': true}" delete-call="removeFeature( feature, price )" ng-model="feature"><strong buttons="no" blur="submit" editable-text="feature.name">{{feature.name}}</strong> <span buttons="no" blur="submit" editable-text="feature.description">{{feature.description}}</span></li>
                    <li class="p-y add-item-button" style="{{price.features && price.features.length > 0 ? 'display: none;' : ''}}cursor:pointer;text-align:center;color:darkred;" ng-click="addFeature( price )"><strong>Click to Add Feature</strong></li>
                </ul>

                <button class="btn btn-lg btn-primary btn-block" style="color:{{price.button_font_color}} !important; border-color: {{price.button_border_color}} !important; background-color: {{price.button_background_color}} !important;">
                    <span buttons="no" blur="submit" editable-text="price.button_text">{{price.button_text}}</span>
                </button>
            </div>
            <div class="{{chunk.length == 1 ? 'col-sm-offset-1 ':''}}col-sm-4 p-x m-b-lg" ng-if="chunk.length < section.settings.prices_per_row">
                <div style="border: 2px dashed blue; background: #eee; cursor: pointer;padding: 30px;font-weight: bold;font-size: 1.5em;" ng-click="addPrice()">
                    Add Price
                </div>
            </div>
        </div>
        <div class="row" ng-if="chunks.length == 0 || chunks[ chunks.length - 1 ].length == section.settings.prices_per_row">
            <div class="col-sm-offset-4 col-sm-4 p-x m-b-lg">
                <div style="border: 2px dashed blue; background: #eee; cursor: pointer;padding: 30px;font-weight: bold;font-size: 1.5em;" ng-click="addPrice()">
                    Add Price
                </div>
            </div>
        </div>
    </div>
</div>
