<div ng-controller="SiteTemplatesStandardSectionPricingController" class="block app-price-plans" style="background-color: {{section.settings.section_background_color}};">
    <div class="container text-center">

        <div class="row m-b-lg">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <h6 class="text-muted text-uppercase">{{section.settings.tagline}}</h6>
                <h3  class="m-t-0">{{section.settings.headline}}</h3>
            </div>
        </div>

        <div class="row" ng-repeat="chunk in chunks">
            <div class="{{chunk.length == 1 ? 'col-sm-offset-4 ':''}}{{chunk.length == 2 ? 'col-sm-offset-1 ':''}}col-sm-4 p-x m-b-lg" ng-repeat="price in chunk">
                <div class="p-x">
                    <h6 class="text-muted text-uppercase m-b" style="margin-bottom: 0 !important;">{{price.name}}</h6>
                    <span style="font-size: 5em;"><sup style="font-size: .3em;top: -1.6em;margin-right: 5px;">{{price.currency_symbol}}</sup>{{price.price}}</span><span style="font-weight: bold;">{{price.subtext}}</span>
                    <p>{{price.description}}</p>
                </div>

                <ul class="list-unstyled list-bordered text-left m-y-md">
                    <li class="p-y" ng-repeat="feature in price.features"><strong>{{feature.name}}</strong> {{feature.description}}</li>
                </ul>

                <a class="btn btn-lg btn-primary btn-block"
                        style="color:{{price.button_font_color}} !important; border-color: {{price.button_border_color}} !important; background-color: {{price.button_background_color}} !important;"
                        ng-click="onButtonClick(price.button_scripts)"
                        href="{{price.button_url}}">
                    {{price.button_text}}
                </a>
            </div>
        </div>

    </div>
</div>
