<div class="projects" ng-controller="SiteTemplatesPortfolio1SectionProjectsController">
	<!--start portfolio-->
  <section class="portfolio" style="background-color: {{section.settings.section_background_color}}; background-image: url('{{section.settings.section_background_image}}');">
      <div class="container" isotope>
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <!-- Filters -->
                  <div class="portfolioFilter text-center">
                      <span>
                        <a href="#" data-filter="*" class="current">All</a>
                        <a href="#" data-filter=".{{classify(category)}}" ng-repeat="category in section.settings.categories track by $index">
                          {{category}}
                        </a>
                      </span>
                  </div>
              </div>

              <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                      <div class="portfolioContainer">
                          <div class="col-md-4 col-sm-6 col-xs-12 {{classes(project.categories)}}" ng-repeat="project in section.settings.projects">
                              <div class="st-work">
                                <a href="{{project.url}}" target="{{project.open_in_new_tab ? '_blank' : ''}}">
                                  <img src="{{project.image_url}}" alt="">
                                  <div class="overlay"></div>
                                </a>
                                <div class="work-overlay text-center">
                                  <!-- <a href="#" class="like-button">
                                    <i class="fa fa-heart-o"></i>
                                  </a> -->
                                  <h2>
                                    <a href="single-portfolio.html">
                                      {{project.name}}
                                    </a>
                                  </h2>
                                  <h3 class="portfolio-cat">
                                    <a href="#" ng-repeat="category in project.categories">
                                      {{category}}
                                      <span class="comma">, </span>
                                    </a>
                                  </h3>
                                </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!--end portfolio-->
</div>
