<div ng-controller="SiteTemplatesStandardSectionRightImageController" class="block block-secondary app-iphone-block" style="background-color: {{section.settings.section_background_color}};">
    <div class="container">
        <div class="row app-align-center">

            <div class="col-sm-6">
                <h6 class="text-muted text-uppercase" config-settings ng-model="section.settings.display_tag" buttons="no" blur="submit" editable-text="section.settings.tag_text">{{section.settings.tag_text}}</h6>
                <h3 class="m-t-0" config-settings ng-model="section.settings.display_tag" buttons="no" blur="submit" editable-text="section.settings.header_text">{{section.settings.header_text}}</h3>
                <p class="lead m-b-md" config-settings ng-model="section.settings.display_tag" buttons="no" blur="submit" editable-text="section.settings.description_text">{{section.settings.description_text}}</p>
                <div class="row hidden-sm">
                    <div class="col-sm-6 m-b-md" config-settings ng-model="section.settings.display_tag">
                        <h5 class="m-y-0" buttons="no" blur="submit" editable-text="section.settings.col1_header">{{section.settings.col1_header}}</h5>
                        <p buttons="no" blur="submit" editable-textarea="section.settings.col1_text" ng-bind-html="safeHtml( section.settings.col1_text )"></p>
                    </div>
                    <div class="col-sm-6" config-settings ng-model="section.settings.display_tag">
                        <h5 class="m-y-0" buttons="no" blur="submit" editable-text="section.settings.col2_header">{{section.settings.col2_header}}</h5>
                        <p buttons="no" blur="submit" editable-textarea="section.settings.col2_text" ng-bind-html="safeHtml( section.settings.col2_text )"></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-offset-1 col-sm-5 hidden-xs" config-settings ng-model="section.settings.display_image">
                <img herc-upload ng-model="section.settings.image" class="app-iphone" src="{{section.settings.image}}" style="width: 100%;cursor:pointer;">
            </div>
        </div>

    </div>
</div>