<div class="builder">
    <div class="wrapper">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="height:100%;padding-bottom:4px;">
                    <div class="brand-logo">
                        <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="assets/img/ninja-pages.svg" alt="App Logo" class="img-responsive" style="max-height:50px; width: auto; float:left; margin-top:-7px;">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <div class="nav-wrapper">
              <div class="pull-right" style="padding-top: 10px;">
                <span class="fa fa-gear fa-2x pointer" ng-click="siteSettings()" style="cursor:pointer;"></span>
              </div>
            </div>
        </nav>
        <!-- END Top Navbar-->
        <!-- START aside-->
        <aside class="aside">
            <!-- START Sidebar (left)-->
            <nav class="sidebar">
                <ul class="nav">

                </ul>
            </nav>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- End aside-->
        <!-- START Main section-->
        <section>
         <!-- START Page content-->
         <div class="content-wrapper">
            <h3>Page title
               <small>Subtitle</small>
            </h3>
            <div class="row">
               <div class="col-lg-12">
                  <p>A row with content</p>
               </div>
            </div>
         </div>
         <!-- END Page content-->
      </section>
        <!-- END Main section-->
    </div>
</div>
