.editable-input {
  background-color: inherit !important;
  border: inherit !important;
  width: 100% !important;
}

.editable-wrap {
  width: 100% !important;
}

.editable-controls {
  width: 100% !important;
}

textarea.editable-input {
  min-height: 250px !important;
}

.site-templates-standard-section-header {
  .delete-button, .menu-item-settings-button {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 4px;
  }

  li.menu-item:hover .delete-button, li.menu-item:hover .menu-item-settings-button {
    display: inline-block !important;
  }

  div.text-uppercase ul.navbar-right:hover li.add-menu-item {
    display: block !important;
  }

  button.has-settings-button {
    position: relative;
  }

  button.has-settings-button > span.settings-button {
    color: #fff;
  }

  button.has-settings-button:hover > span.settings-button {
    display: block !important;
  }
}