<div ng-controller="SiteTemplatesStandardSectionHeaderController" class="site-templates-standard-section-header block block-inverse block-fill-height app-header"
     style="background-image: url(assets/img/startup-1.jpg);">

    <nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed p-x-0"
                        data-target="#stage" data-toggle="stage" data-distance="-250">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">
                        {{section.settings.button_text}}
                    </strong>
                </a>
            </div>
            <div class="navbar-collapse collapse text-uppercase">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="item in section.settings.menu_items" class="menu-item">
                        <a ng-if="item.type == 'url'" href="{{item.destination}}">{{item.text}}</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <img class="app-graph" src="assets/img/startup-0.svg">

    <div class="block-xs-middle p-b-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-6">
                    <h1 class="block-title m-b-sm">{{section.settings.header_text}}</h1>
                    <p class="lead m-b-md text-muted">{{section.settings.description}}</p>
                    <button class="btn btn-primary btn-lg">{{section.settings.cta_text}}</button>
                </div>
            </div>
        </div>
    </div>
</div>