<div ng-controller="SiteTemplatesStandardSectionFooterController" class="block block-inverse app-footer" style="background-color: {{section.settings.section_background_color}};">
    <div class="container">
        <div class="row">
            <div class="{{column.offset && column.offset != '0' ? 'col-sm-offset-' + column.offset + ' ' : ''}}col-sm-{{column.width}} m-b-md" ng-repeat="column in section.settings.columns">
                <ul class="list-unstyled list-spaced">
                    <li class="m-b"><h6 class="text-uppercase" style="color: {{$parent.section.settings.column_header_color}};">{{column.name}}</h6></li>
                    <li class="text-muted" ng-repeat="item in column.items">
                        <span ng-if="item.type == 'text'" style="color: {{$parent.section.settings.column_item_color}};">{{item.content}}</span>
                        <a href="{{item.url}}" ng-if="item.type == 'link'" style="color: {{$parent.section.settings.column_item_color}};">{{item.content}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>