<div ng-controller="SiteTemplatesStandardSectionFeaturesController" class="block block-secondary app-block-marketing-grid" style="background-color: {{section.settings.section_background_color}};">
    <div class="container text-center">

        <div class="row m-b-lg">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <h6 class="text-muted text-uppercase">{{section.settings.tagline}}</h6>
                <h3  class="m-t-0 m-b">{{section.settings.headline}}</h3>
            </div>
        </div>

        <div class="row app-marketing-grid" ng-repeat="chunk in chunks">
            <div class="{{chunk.length == 2 ? 'col-sm-offset-1 ' : ''}}{{chunk.length == 1 ? 'col-sm-offset-4 ' : ''}}col-sm-4 p-x-md m-b-lg" ng-repeat="feature in chunk">
                <img class="m-b img-responsive" src="{{feature.image}}" style="cursor:pointer;max-width:100%;" />
                <p><strong>{{feature.name}}</strong> {{feature.description}}</p>
            </div>
        </div>
</div>