<div class="portfolio-detail" ng-controller="SiteTemplatesPortfolio1SectionPortfolio-detailController">
	<section class="single-portfolio" style="background-color: {{section.settings.section_background_color}}; background-image: url('{{section.settings.section_background_image}}');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="portfolio-info text-center">
											<span class="data-list" ng-repeat="datum in section.settings.data">
												<span ng-if="datum.name">{{datum.name}}:</span>
												<a href="{{datum.url}}" class="{{datum.url ? 'live-demo' : ''}}">{{datum.text}}</a>
												<span class="separator">  |  </span>
											</span>
										</div>

                    <div class="portfolio-content">
                        <div class="portfolio-thumb text-center">
                            <img src="{{section.settings.image_url}}" alt="">
                            <span class="caption">{{section.settings.caption}}</span>
                        </div>

                        <h2>{{section.settings.project_name}}</h2>
                        <p ng-bind-html='section.settings.description.replace(/\n/g,"<br />")'></p>

                        <div class="portfolio-navigation text-center">
                            <a href="{{section.settings.prev_project_url}}" class="pull-left"><i class="fa fa-long-arrow-left"></i> {{section.settings.prev_project_text}}</a>
                            <a href="{{section.settings.all_projects_url}}" ng-if="section.settings.all_projects_show" class="center"><i class="fa fa-th"></i></a>
                            <a href="{{section.settings.next_project_url}}" class="pull-right">{{section.settings.next_project_text}} <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
